PORT=5000
MONGODB_URI=mongodb+srv://KliksAdminUser:Amaanahmed3343@cluster0.y7ajxmq.mongodb.net/
JWT_SECRET=SecretKliks69
IMAGEKIT_PUBLIC_KEY=public_+I3xmpLcgRPn3bbC2WBNWMuT7fw=
IMAGEKIT_PRIVATE_KEY=private_aPAvI/FO4dYFZZlAS3u0DUc5PL4=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/AmaanAhmed
ADMIN_USERNAME=AmaanAhmed
ADMIN_PASSWORD=Amaanahmed@3343
CORS_ORIGIN=http://localhost:5173
